<h3>Episodes</h3>

<% @episodes.each do |episode| %>
    <h3> <%= link_to episode.name, episode %> </h3>
<% end %>

<h5> <%= link_to 'Add more Episodes', new_episode_path, class: 'btn btn-default' %> </h5>